::ng-deep .mat-drawer{
    background-color: #F7FAFD;
}
::ng-deep .mat-list-base .mat-list-item .mat-list-item-content{
    border-right: 12px solid transparent;
}
::ng-deep .mat-list-base .mat-list-item .mat-list-item-content:hover{
    background-color: #FFFFFF;
    color: #002496;
    border-right: 12px solid #FECB00;
}
.content {
    padding: 16px;
}