
.header-toolbar{
    .header-container{
        .header-left{
            display: flex;
            height: 72px;
            align-items: center;
            background-color: #001146;
            .toggle-btn{
                padding-left: 10px;
                color: #FFFFFF;
            }
            .header-logo{
                width: 50px;
                height: 18px;
                margin: 0 14px 0 44px;
            }
            .brand-name{
                color: #FFFFFF;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}