@mixin cell-style {
    border-right: 1px solid #CED4DA;
    padding: 0 5px;
    font-size: 16px;
    line-height: 20px;
    font-weight: medium;
    &:first-of-type{
        padding-left: 24px;
    }
  }
.table-container{
    .custome-table{
        width: 100%;
        .mat-header-cell{
            color: #171718;
            @include cell-style;
        }
        .mat-cell{
            color: #717274;
            @include cell-style;
        }
    }
}